span {
font-family: SF UI Text;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 18px;
align-items: center;
color: #7846E7;
/* background-color: linear-gradient(90deg, #4F78EA 0%, #7846E7 100%); */
}

Link {
font-family: Museo Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
align-items: center;
color: #7647EB;
}

.createLink{
font-family: Museo Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
align-items: center;
color: #7647EB;
background: #E2D8FB;
border-radius: 8px;
padding: 8px 30px;
margin-left: 5px;
}